{# Set Defaults #}
{% set defaults = {
  data: {
    type: "alpha",
    size: "base",
    link: null
  },
  variants: {
    type: {
      alpha: "btn",
      beta: "btn btn--beta",
      outlined: "btn btn--outline"
    },
    size: {
      sm: "btn--sm",
      base: "",
      lg: "btn--lg"
    }
  }
} %}

{% set styles = {
    mainLink: "inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800",
    readMoreBtn: "inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800",
} %}

{# >>> Merge data / classes / variants (optional) #}
{% set props = {
  data: data is defined and data is iterable ? defaults.data|merge(data) : defaults.data,
  variants: defaults.variants
} %}

{% if props.data.link %}
	{% if props.data.link is not string and props.data.link.getUrl() %}
    {{
      props.data.link.getLink({
        class: styles.mainLink
      })
    }}
	{% endif %}
	{% if props.data.link is string %}
		<a href="{{ props.data.link }}" class="{{ styles.readMoreBtn }}">
			Read more
			<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 10">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
			</svg>
		</a>
	{% endif %}
{% endif %}
